@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.reset, body {
  position: absolute;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  top: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flex-elements {
  display: flex;
  flex-direction: column; }

.hover-animation, .error a, .home a {
  background: linear-gradient(to bottom, #bad9ea 0%, #bad9ea 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size 0.2s; }
  .hover-animation:hover, .error a:hover, .home a:hover {
    background-size: 4px 50px; }

.typo-base, body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.09em; }

.typo-72 {
  line-height: 6.75rem;
  font-size: 4.5rem; }

.typo-48, .error h1 {
  line-height: 4.5rem;
  font-size: 3rem; }

.typo-32, .bullet-number h2, .error p {
  line-height: 3rem;
  font-size: 2rem; }

.typo-24, header {
  line-height: 2.25rem;
  font-size: 1.5rem; }

.typo-18 {
  line-height: 1.6875rem;
  font-size: 1.125rem; }

.typo-16, body {
  line-height: 1.5rem;
  font-size: 1rem; }

.typo-14 {
  line-height: 1.3125rem;
  font-size: 0.875rem; }

@media (max-width: 576px) {
  body {
    width: auto; } }

header {
  position: relative;
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 1rem;
  text-align: center;
  background-size: auto;
  background-color: #f6f6fa14;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238e5572' fill-opacity='0.5'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
  header svg {
    width: 13%;
    align-self: center; }

main,
footer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px; }

.bullet-number {
  display: flex;
  flex-direction: column; }
  .bullet-number h2 {
    font-weight: 900; }
  .bullet-number p {
    width: 50%; }
    @media (max-width: 576px) {
      .bullet-number p {
        width: 100%; } }
  .bullet-number span {
    margin-left: 34px; }
  .bullet-number svg {
    width: 8%;
    position: relative;
    bottom: 56px;
    opacity: 0.5; }
    @media (max-width: 576px) {
      .bullet-number svg {
        width: 16%; } }

.container-about {
  background: url("../../assets/profile/bruna-perfil.png") no-repeat;
  background-size: contain;
  background-position-x: right; }
  @media (max-width: 576px) {
    .container-about {
      display: flex;
      flex-direction: column-reverse;
      min-height: 800px; } }

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("../../assets/Scout.png") no-repeat;
  background-size: contain;
  height: 58vh;
  color: #263e4b;
  text-align: -webkit-center; }
  @media (min-width: 992px) {
    .error {
      flex-direction: column-reverse;
      height: 100vh;
      text-align: inherit; } }
  @media (min-width: 992px) {
    .error h1 {
      font-size: 1.5rem; } }
  .error p {
    width: 86%; }
    @media (min-width: 992px) {
      .error p {
        font-size: 1.125rem;
        line-height: 150%;
        width: 42%; } }

.home a {
  width: 20%; }

.card-list {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  padding: 0; }
  .card-list li {
    list-style: none; }
    .card-list li:nth-child(2) > div::before {
      background-image: url("../../assets/animation_500_kfrmnsvu.gif");
      background-size: contain; }
    .card-list li:nth-child(2) > div div:first-of-type {
      box-shadow: 0 -25px 0 0 #f6f6fa; }
    .card-list li:nth-child(3) > div::before {
      background-image: url("../../assets/animation_500_kfrm5156.gif");
      background-size: cover; }
    .card-list li:nth-child(3) > div div:first-of-type {
      box-shadow: 0 -25px 0 0 #f6f6fa; }
    .card-list li:nth-child(4) > div::before {
      background-image: url("../../assets/animation_500_kfrm7kv0.gif");
      background-size: cover; }
    .card-list li:nth-child(4) > div div:first-of-type {
      box-shadow: 0 -25px 0 0 #f6f6fa; }
  .card-list__shape {
    margin: 25px;
    height: 750px;
    width: 367px;
    background-color: #f6f6fa14;
    border-radius: 60px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3); }
    .card-list__shape::before {
      transform: scaleX(-1);
      content: '';
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 367px;
      background-color: #f6f6fa;
      background-size: cover;
      background-repeat: space;
      background-image: url("../../assets/animation_500_kfrmmwm8.gif");
      border-radius: 60px 60px 0px; }
    .card-list__shape:hover {
      box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
      color: #6f6f6f; }
    .card-list__shape--small {
      bottom: -89.8%;
      height: 50px;
      width: 25px;
      border-top-left-radius: 25px;
      content: '';
      background-color: transparent;
      border-top-left-radius: 25px;
      box-shadow: 0 -25px 0 0 #f6f6fa; }
  .card-list .text {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7%; }
    .card-list .text p {
      min-height: 125px; }
    .card-list .text:nth-child(2) {
      font-size: smaller;
      width: 80%; }

.explore-button {
  font-size: 0.9em;
  background-color: #477998;
  text-align: center;
  width: 80%;
  color: #fff;
  display: inline-block;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s; }

.explore-button:hover {
  opacity: 0.6;
  color: #fff;
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px); }
