// common
$black: #0c0c0e;
$white: #fff;

// primary
$primary-light: #bcaa99;
$primary-main: #553e4e;
$primary-dark: #2f222b;
$contrastTextDark: #251f18;

// secondary
$secondary-light: #9ebed1;
$secondary-main: #477998;
$secondary-dark: #2e4d61;

// tertiary
$tertiary-light: #fef6c2;
$tertiary-main: #fde12d;
$tertiary-dark: #dec102;

// grey
$grey-50: #f3f5f7;
$grey-100: #f1f1f3;
$grey-200: #d5d5dc;
$grey-300: #b9b9c5;
$grey-400: #9d9dae;
$grey-500: #818197;
$grey-600: #68687e;
$grey-700: #515162;
$grey-800: #3a3a46;
$grey-900: #23232a;
$grey-A100: #c4c4cd;
$grey-A200: #747480;
$grey-A400: #333;
$grey-A700: #646464;

// text
$text-primary: rgba(12, 12, 14, 0.87);
$text-secondary: rgba(12, 12, 14, 0.54);
$text-disabled: rgba(12, 12, 14, 0.38);
$text-hint: rgba(12, 12, 14, 0.38);

// actions

$active: rgba(12, 12, 14, 0.54);
$hover: rgba(12, 12, 14, 0.04);
$hoverOpacity: 0.6;
$selected: rgba(12, 12, 14, 0.08);
$selectedOpacity: 0.08;
$disabled: rgba(12, 12, 14, 0.38);
$disabledBackground: rgba(12, 12, 14, 0.12);
$disabledOpacity: 0.38;
$focus: rgba(12, 12, 14, 0.12);
$focusOpacity: 0.12;
$activatedOpacity: 0.12;

// primary
$background-default: #f6f6fa14;

// error
$error: #263e4b;
$hintHighLight: #bad9ea;
