<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/styles/css/main.css' />
</head>

<body>
  <header>
    <h1>Olá, eu sou <%= name %></h1>
    <p><%= profession %></p>
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#477998" fill-opacity="1"></path>
    </svg>
    <hr />
  </header>

  <main>
    <section class="container-about">
      <div class="bullet-number">
        <h2>01. <span>Perfil</span></h2>

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#477998" fill-opacity="1"></path>
        </svg>

        <p><%= description %></p>

      </div>

    </section>
    <section class="container-carrer">
      <div class="bullet-number">
        <h2>02. <span>Carreira</span></h2>

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#477998" fill-opacity="1"></path>
        </svg>

      </div>
      <ul>
        <% experience.map(experience => { %>
        <li>
          <div>
            <strong><%= experience.company %>:</strong>
            <strong><%= experience.office %></strong>
            <br>
            <span><%= experience.description %></span>
          </div>
        </li>
        <% }); %>
      </ul>
      <ul>
        <% education.map(education => { %>
        <li>
          <div>
            <strong><%= education.institution %></strong>
            <br>
            <span><%= education.description %></span>
          </div>
        </li>
        <% }); %>
      </ul>
      <ul>
        <% skills.map(skill => { %>
        <li><%= skill %></li>
        <% }); %>
      </ul>
    </section>


    <section id="porftolio" class="container-portfolio">
      <div class="bullet-number">
        <h2>03. <span>Projetos</span></h2>

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill" fill="#477998" fill-opacity="1"></path>
        </svg>

      </div>
      <ul class="card-list">
        <% projects.map(projects => { %>
        <li>
          <div class="card-list__shape">
            <div class="card-list__shape--small"></div>
            <div class="text">
              <h2><%= projects.name %></h2>
              <p><%= projects.description %></p>
              <a target="_blank" href="<%= projects.repository %>" class="explore-button">Explore</a>

            </div>

        </li>


        </div>

        <% }); %>

      </ul>
    </section>
  </main>

</body>

</html>