<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/styles/css/main.css' />
</head>

<body>
  <main class="error">
    <section>
      <h1><%= error.status === 404 ? 'Página não encontrada' : '' %></h1>
      <p>Infelizmente não encontramos essa página, que tal visitar a <span><a href="/">Página inicial</a></span>?</p>
    </section>


  </main>
</body>

</html>