body {
  @extend .typo-16;
  @extend .typo-base;
  @extend .reset;

  @media (max-width: $sm) {
    width: auto;
  }
}

header {
  @extend .typo-24;
  position: relative;
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 1rem;
  text-align: center;
  background-size: auto;
  background-color: $background-default;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238e5572' fill-opacity='0.5'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  svg {
    width: 13%;
    align-self: center;
  }
}

main,
footer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.bullet-number {
  display: flex;
  flex-direction: column;

  h2 {
    @extend .typo-32;
    font-weight: $fontWeighblack;
  }

  p {
    width: 50%;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  span {
    margin-left: 34px;
  }

  svg {
    width: 8%;
    position: relative;
    bottom: 56px;
    opacity: 0.5;

    @media (max-width: $sm) {
      width: 16%;
    }
  }
}

.container-about {
  background: url('../../assets/profile/bruna-perfil.png') no-repeat;
  background-size: contain;
  background-position-x: right;
  @media (max-width: $sm) {
    display: flex;
    flex-direction: column-reverse;
    min-height: 800px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url('../../assets/Scout.png') no-repeat;
  background-size: contain;
  height: 58vh;
  color: $error;
  text-align: -webkit-center;

  @media (min-width: $lg) {
    flex-direction: column-reverse;
    height: 100vh;
    text-align: inherit;
  }

  h1 {
    @extend .typo-48;

    @media (min-width: $lg) {
      font-size: $f24;
    }
  }

  p {
    @extend .typo-32;
    width: 86%;

    @media (min-width: $lg) {
      font-size: $f18;
      line-height: 150%;
      width: 42%;
    }
  }

  a {
    @extend .hover-animation;
  }
}

.home {
  a {
    @extend .hover-animation;

    width: 20%;
  }
}
