.card-list {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  padding: 0;
  // 469974
  li {
    &:nth-child(2) > div {
      &::before {
        background-image: url('../../assets/animation_500_kfrmnsvu.gif');
        background-size: contain;
      }

      div:first-of-type {
        box-shadow: 0 -25px 0 0 #f6f6fa;
      }
    }

    &:nth-child(3) > div {
      &::before {
        background-image: url('../../assets/animation_500_kfrm5156.gif');
        background-size: cover;
      }

      div:first-of-type {
        box-shadow: 0 -25px 0 0 #f6f6fa;
      }
    }

    &:nth-child(4) > div {
      &::before {
        background-image: url('../../assets/animation_500_kfrm7kv0.gif');
        background-size: cover;
      }

      div:first-of-type {
        box-shadow: 0 -25px 0 0 #f6f6fa;
      }
    }
    list-style: none;
  }

  &__shape {
    margin: 25px;
    height: 750px;
    width: 367px;
    background-color: $background-default;
    border-radius: 60px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);

    &::before {
      transform: scaleX(-1);
      content: '';
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 367px;
      background-color: #f6f6fa;
      background-size: cover;
      background-repeat: space;
      background-image: url('../../assets/animation_500_kfrmmwm8.gif');
      border-radius: 60px 60px 0px;
    }

    &:hover {
      box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
      // transform: translateY(-1px);
      color: #6f6f6f;
    }

    &--small {
      bottom: -89.8%;
      height: 50px;
      width: 25px;
      border-top-left-radius: 25px;
      content: '';
      background-color: transparent;
      border-top-left-radius: 25px;
      box-shadow: 0 -25px 0 0 #f6f6fa;
    }
  }

  .text {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7%;

    p {
      min-height: 125px;
    }

    &:nth-child(2) {
      font-size: smaller;
      width: 80%;
    }
  }
}
